<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Add order</title>
</h:head>

<h:body>
<ui:composition template="../templates/layout.xhtml">

    <ui:define name="content">
        <ui:param name="ctrl" value="#{addOrderController}" />
        <ui:param name="listCtrl" value="#{orderListController}" />
        <ui:param name="updateCtrl" value="#{updateOrderController}" />

        <h2 align="center" class="page_title">Add new order</h2>

        <h:form id="addForm">
            <p:growl id="message"/>
        <h:panelGrid columns="7">


            <h:column>
             <h:panelGrid>
                <f:facet name="header">Car</f:facet>
                 <h:selectOneMenu id="car_select" value="#{ctrl.targetOrder.car.carId}" required="true" requiredMessage="Please select a car">
                     <f:selectItem itemLabel=""/>
                    <f:selectItems value="#{listCtrl.cars}" var="car" itemValue="#{car.carId}" itemLabel="#{car.carNumber}"/>
                </h:selectOneMenu>
             </h:panelGrid>
             </h:column>

            <h:column>
            <h:panelGrid>
                <f:facet name="header">Client</f:facet>
                <h:selectOneMenu value="#{ctrl.targetOrder.clientId}">
                    <f:selectItem itemLabel=""/>
                    <f:selectItems value="#{listCtrl.clients}" var="person" itemValue="#{person.personId}" itemLabel="#{person.firstName} #{person.personLastName}"/>
                </h:selectOneMenu>
            </h:panelGrid>
            </h:column>


            <h:column>
            <h:panelGrid>
                <f:facet name="header">Order Status</f:facet>
                <h:selectOneMenu value="#{ctrl.targetOrder.orderStatus.orderStatusId}" required="true" requiredMessage="Please select Order Status">
                    <f:selectItem itemLabel=""/>
                    <f:selectItems value="#{listCtrl.orderStatuses}" var="status" itemValue="#{status.orderStatusId}" itemLabel="#{status.orderStatus}"/>
                </h:selectOneMenu>
            </h:panelGrid>
            </h:column>


            <h:column>
            <h:panelGrid>
                <f:facet name="header">Repairer</f:facet>
                <h:selectOneMenu value="#{ctrl.targetOrder.repairerId}">
                    <f:selectItem itemLabel=""/>
                    <f:selectItems value="#{listCtrl.repairers}" var="person" itemValue="#{person.personId}" itemLabel="#{person.firstName} #{person.personLastName}"/>
                </h:selectOneMenu>
            </h:panelGrid>
            </h:column>

            <h:column>
            <h:panelGrid>
                <f:facet name="header">Order Price</f:facet>
                <h:inputText value="#{ctrl.targetOrder.orderPrice}" size="10" />
            </h:panelGrid>
            </h:column>


            <h:column>
            <h:panelGrid>
                <f:facet name="header">Comments</f:facet>
                <h:inputText label="" value="#{ctrl.targetOrder.lastComment.commentText}" required="true" requiredMessage="Please leave the comment" size="15"/>
            </h:panelGrid>
            </h:column>

            <h:column>
            <h:panelGrid>
            <p:commandButton value="save" action="#{ctrl.confirmAddOrder}" update="addForm:message"/>

            <p:commandButton value="cancel" action="#{updateCtrl.cancelUpdateAction}" immediate = "true" update="addForm:message"/>
            </h:panelGrid>
            </h:column>
        </h:panelGrid>

        </h:form>

    </ui:define>

</ui:composition>

</h:body>
</html>
