<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>

    <ui:composition template="../templates/layout.xhtml">
        <ui:define name="content" >
            <ui:param name="ctrl" value="#{adminPageController}" />
            <h1 class="greetings">
            <h:outputLabel styleClass="greetings" value="Welcome : #{ctrl.user.firstName}" />
            </h1>
            <div class="topspace"></div>

            <h:form rendered="#{request.isUserInRole('ROLE_ADMINISTRATOR') || request.isUserInRole('ROLE_BOSS')}">
                <p:growl id="message" for="message"/>
            <p:commandButton id="orders" styleClass="button" ajax="false" value="Orders" action="#{ctrl.navigateToOrderList()}" />
            </h:form>

            <h:form rendered="#{request.isUserInRole('ROLE_ADMINISTRATOR') || request.isUserInRole('ROLE_REPAIRER')}">
                <p:commandButton id="repairers" styleClass="button" ajax="false" value="Repairers" action="#{ctrl.navigateToRepairerList()}" />
            </h:form>

            <h:form rendered="#{request.isUserInRole('ROLE_ADMINISTRATOR') || request.isUserInRole('ROLE_BOSS')}">
                <p:commandButton id="users" styleClass="button" ajax="false" value="Users" action="#{ctrl.navigateToUserList()}" />
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>