<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Error occurred</title>
</h:head>

<h:body>
<ui:composition template="../templates/layout.xhtml">

    <ui:define name="content">
       <h3 class="error_message">Something went wrong, please try again later</h3>
    </ui:define>

</ui:composition>

</h:body>
</html>
