<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Orders</title>
</h:head>

<h:body>

<ui:composition template="../templates/layout.xhtml">

    <ui:define name="content">
        <ui:param name="ctrl" value="#{orderListController}" />
        <ui:param name="addCtrl" value="#{updateOrderController}" />



        <h2 align="center" class="page_title">Orders:</h2>

        <div align="center" style="vertical-align: top">
            <h:form rendered="#{request.isUserInRole('ROLE_ADMINISTRATOR')}">
                <h:commandButton styleClass="home_button" value="add new order" ajax="false" action="#{ctrl.addOrder}"/>
            </h:form>
        </div>

        <h:form id="ordersForm">
            <h:messages id="messages"/>
        <h:dataTable id="orders" value="#{ctrl.orders}" var="order" style="width: 100%">

            <h:column>
                <f:facet name="header">ID</f:facet>
                <h:outputText value="#{order.orderId}" />
            </h:column>

            <h:column>
                <f:facet name="header">Car</f:facet>
                <h:outputText value="#{order.car.carNumber}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Client Name</f:facet>
                <h:outputText value="#{ctrl.getClient(order.clientId).firstName} #{ctrl.getClient(order.clientId).personLastName}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Order Status</f:facet>
                <h:outputText value="#{order.orderStatus.orderStatus}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Repairer Name</f:facet>
                <h:outputText value="#{ctrl.getRepairer(order.repairerId).firstName} #{ctrl.getRepairer(order.repairerId).personLastName}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Order Price</f:facet>
                <h:outputText value="#{order.orderPrice}"/>
            </h:column>

            <h:column>
                <f:facet name="header">Comments</f:facet>
                <h:dataTable id = "comments" value="#{order.commentList}" var="comment" styleClass="align:left;">
                    <h:column>
                        #{comment.person.firstName} #{comment.person.personLastName} : #{comment.commentDateTime} #{comment.commentText}
                    </h:column>
                </h:dataTable>
            </h:column>

            <h:column>
                <f:facet name="header"/>
                <p:commandButton value="update order" action="#{addCtrl.editAction(order)}"/>
            </h:column>

        </h:dataTable>
    </h:form>
    </ui:define>

</ui:composition>

</h:body>
</html>