<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Repairers</title>
</h:head>

<h:body>

    <ui:composition template="../templates/layout.xhtml">

        <ui:define name="content">
            <ui:param name="ctrl" value="#{repairerListController}" />

            <h2 align="center" class="page_title">Repairers:</h2>

            <h:form id="repairersForm">
                <p:growl id="message"/>
                <h:dataTable id="repairers" value="#{ctrl.repairers}" var="repairer" style="width: 100%">

                    <h:column>
                        <f:facet name="header">ID</f:facet>
                        <h:outputText value="#{repairer.personId}" />
                    </h:column>

                    <h:column>
                        <f:facet name="header">Specialization</f:facet>
                        <ui:repeat value="#{repairer.specializations.toArray()}" var="specialization">
                        <h:outputText value="#{specialization.specializationName}"/> <br/>
                        </ui:repeat>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText value="#{repairer.firstName} #{repairer.personPatronymic} #{repairer.personLastName}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Telephone number</f:facet>
                        <h:outputText value="#{repairer.personTelephoneNumber}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Order Number</f:facet>
                        <ui:repeat value="#{repairer.orders.toArray()}" var="order">
                            <h:outputText value="#{order.orderId}"/> <br/>
                        </ui:repeat>
                    </h:column>
                </h:dataTable>
            </h:form>
        </ui:define>

    </ui:composition>

</h:body>
</html>