<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Users</title>
</h:head>

<h:body>

    <ui:composition template="../templates/layout.xhtml">

        <ui:define name="content">
            <ui:param name="ctrl" value="#{userListController}"/>
            <ui:param name="adminCtrl" value="#{adminPageController}"/>

            <h2 align="center" class="page_title">Users:</h2>

            <div align="center" style="vertical-align: top">
                <h:form id="addUser" rendered="#{request.isUserInRole('ROLE_ADMINISTRATOR')}">
                    <p:commandButton styleClass="home_button" value="add user" ajax="true"
                                     actionListener="#{ctrl.addPerson}"
                                     update="editUser"
                                     oncomplete="PF('$editUser').show()"/>
                </h:form>
            </div>

            <h:form id="usersForm">
                <p:growl id="message"/>
                <h:dataTable id="users" value="#{ctrl.users}" var="user" style="width: 100%">

                    <h:column>
                        <f:facet name="header">ID</f:facet>
                        <h:outputText value="#{user.personId}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Name</f:facet>
                        <h:outputText value="#{user.firstName} #{user.personPatronymic} #{user.personLastName}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Email</f:facet>
                        <h:outputText value="#{user.personEmail}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Telephone number</f:facet>
                        <h:outputText value="#{user.personTelephoneNumber}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Login</f:facet>
                        <h:outputText value="#{user.personLogin}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Password</f:facet>
                        <h:outputText value="#{user.personPassword}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">Role</f:facet>
                        <h:outputText value="#{user.personRole.roleName}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header"></f:facet>
                        <p:commandButton id="editUserBtn"
                                         value="edit" ajax="true"
                                         actionListener="#{ctrl.updatePerson(user)}"
                                         update="editUser"
                                         oncomplete="PF('$editUser').show()"/>
                        <p:commandButton id="deleteUserBtn" disabled="#{adminCtrl.user.personId==user.personId}"
                                         value="delete" ajax="true"
                                         actionListener="#{ctrl.updatePerson(user)}"
                                         oncomplete="PF('$confirmDeleteUser').show()"
                        />
                    </h:column>
                </h:dataTable>
            </h:form>

            <p:dialog id="editUser" header="Edit user" modal="true" widgetVar="$editUser" width="500">


                <h:form id="addForm">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="ID" rendered="#{ctrl.userToUpdate.personId != 0}"/>
                        <h:outputText value="#{ctrl.userToUpdate.personId}"
                                      rendered="#{ctrl.userToUpdate.personId != 0}"/>
                        <p:outputLabel value="Name"/>
                        <p:inputText value="#{ctrl.userToUpdate.firstName}"/>
                        <p:outputLabel value="Patronymic"/>
                        <p:inputText value="#{ctrl.userToUpdate.personPatronymic}"/>
                        <p:outputLabel value="Last Name"/>
                        <p:inputText value="#{ctrl.userToUpdate.personLastName}"/>
                        <p:outputLabel value="Email"/>
                        <p:inputText value="#{ctrl.userToUpdate.personEmail}"/>
                        <p:outputLabel value="Telephone Number"/>
                        <p:inputText value="#{ctrl.userToUpdate.personTelephoneNumber}"/>
                        <p:outputLabel value="Login"/>
                        <p:inputText value="#{ctrl.userToUpdate.personLogin}" required="true"
                                     requiredMessage="Please input login"/>
                        <p:outputLabel value="Password"/>
                        <p:inputText value="#{ctrl.userToUpdate.personPassword}"/>
                        <p:outputLabel value="Role"/>
                        <h:selectOneMenu value="#{ctrl.userToUpdate.personRole.roleId}">
                            <f:selectItems value="#{ctrl.roles}" var="role" itemValue="#{role.roleId}"
                                           itemLabel="#{role.roleName}"/>
                        </h:selectOneMenu>
                        <f:facet name="footer">
                            <h:panelGroup style="display:block; text-align:center">
                                <p:commandButton id="submit" value="save" ajax="true"
                                                 actionListener="#{ctrl.confirmUpdatePerson()}"
                                                 process="@form"
                                                 update="usersForm"
                                                 oncomplete="if (args &amp;&amp; !args.validationFailed) PF('$editUser').hide()"/>
                                <p:commandButton id="cancelSave" value="cancel" onclick="PF('$editUser').hide()"/>

                            </h:panelGroup>
                        </f:facet>


                    </p:panelGrid>

                </h:form>


            </p:dialog>
            <p:dialog id="confirmDeleteUser" widgetVar="$confirmDeleteUser"
                      header="Are you sure you want to delete?" width="400" modal="true">
                <h:form>
                    <h:panelGroup style="display:block; text-align:center">

                        <p:commandButton id="delete" value="delete" ajax="true"
                                         actionListener="#{ctrl.confirmDeletePerson(ctrl.userToUpdate)}"
                                         update="usersForm"
                                         oncomplete="PF('$confirmDeleteUser').hide()"/>
                        <p:commandButton id="cancelDelete" value="cancel" onclick="PF('$confirmDeleteUser').hide()"/>

                    </h:panelGroup>
                </h:form>
            </p:dialog>
        </ui:define>

    </ui:composition>

</h:body>
</html>