<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view contentType="text/html">
    <h:head>
        <link type="text/css" rel="stylesheet" href="/style/style.css?ln=css"/>
    </h:head>
    <h:body>
        <ui:param name="ctrl" value="#{logoutController}"/>
        <div style="display: inline;" align="center">
            <h:form rendered="#{not empty request.remoteUser}">
                <h:commandButton styleClass="home_button" value="Home" action="#{ctrl.home}"/>
            </h:form>
            <h:form rendered="#{not empty request.remoteUser}">
                <h:commandButton styleClass="home_button" value="Log out" action="#{ctrl.logout}"/>
            </h:form>
        </div>
        <h:messages id="messages" life="2000" autoUpdate="true"/>
        <div id="content">
            <ui:insert name="content">Content
            </ui:insert>
        </div>
        <div class="thefooter" align="center">
            <p>Slavon corporation © 2018</p>

        </div>
    </h:body>
</f:view>

</html>